{
    "base_url": "http://some.url.com",
    "users": [
        {
            "user1" : "abc",
            "recipients": [
                "email@address"
            ]
        },
        {
            "user2" : "bcd",
            "recipients": [
                "email@address"
            ]
        }
    ],
    "bitly" : {
    	"token" : "token",
    	"endpoint" : "url"
    }
}